<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:data-option="http://www.w3.org/1999/xhtml" xmlns:formatter="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>友情链接管理页面</title>

    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.3.3/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.3.3/themes/icon.css">
    <script type="text/javascript" src="/jquery-easyui-1.3.3/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.3.3/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/wangEditor/wangEditor.js"></script>

    <script type="text/javascript">

        var url;

        function deleteNotice(){
            var selectedRows=$("#dg").datagrid("getSelections");
            if(selectedRows.length==0){
                $.messager.alert("系统提示","请选择要删除的数据！");
                return;
            }
            var strIds=[];
            for(var i=0;i<selectedRows.length;i++){
                strIds.push(selectedRows[i].noticeId);
            }
            var ids=strIds.join(",");
            $.messager.confirm("系统提示","您确定要删除这<font color=red>"+selectedRows.length+"</font>条数据吗？",function(r){
                if(r){
                    $.post("/notice/delete",{ids:ids},function(result){
                        if(result.success){
                            $.messager.alert("系统提示","数据已成功删除！");
                            $("#dg").datagrid("reload");
                        }else{
                            $.messager.alert("系统提示","数据删除失败！");
                        }
                    },"json");
                }
            });
        }

        //打开添加页面
        function openNoticeAddDialog(){
            $("#dlg").dialog("open").window("setTitle","添加公告信息");
            url="/notice/save";
        }
        //打开修改页面
        function openNoticeModifyDialog(){
            var selectedRows=$("#dg").datagrid("getSelections");
            if(selectedRows.length!=1){
                $.messager.alert("系统提示","请选择一条要编辑的数据！");
                return;
            }
            var row=selectedRows[0];
            $("#dlg").dialog("open").window("setTitle","编辑公告信息");
            $("#fm").form("load",row);
            /**
             * 回显富文本
             * */
            $(function () {
                document.getElementsByClassName('w-e-text')[0].innerHTML = row.noticeDetails;
            })
            url="/notice/save?noticeId="+row.noticeId;
        }

        //添加或修改完成的保存操作
        function saveNotice(){
            $("#fm").form("submit",{
                url:url,
                onSubmit:function(){
                    document.getElementById("noticeDetails").value = document.getElementsByClassName('w-e-text')[0].innerHTML;
                    return $(this).form("validate");
                },
                success:function(result){
                    var result=eval('('+result+')');
                    if(result.success){
                        $.messager.alert("系统提示","保存成功！");
                        $("#dlg").dialog("close");
                        $("#dg").datagrid("reload");
                        resetValue();
                    }else{
                        $.messager.alert("系统提示","保存失败！");
                        resetValue();
                        return;
                    }
                }
            });
        }

        //将输入框内容置空
        function resetValue(){
            var E = window.wangEditor
            var editor1 = new E('#editor')
            $("#noticeTitle").val("");
            editor1.$txt.html('<p><br></p>');

        }

        //关闭窗口
        function closeLinkDialog(){


            $("#dlg").dialog("close");

            resetValue();
        }

        //修改列的格式
        function formatDetail(value,row){
            return '<span title="' + value + '">' + value + '</span>';}
        function formatId(value,row){
            return '<input type="hidden" name="' + value + '">'}

        function doSearch(value,name) {
//            var name1 = name.val();
            url="/notice/search?name="+name+"&&keyWords="+value;
            $.get(url,function(result){
                if(result.success){
                    $.messager.alert("系统提示","数据已成功删除！");
                    $("#dg").datagrid("reload");
                }else{
                    $.messager.alert("系统提示","数据删除失败！");
                }
            },"json");
//            }if(name1 == "noticeDetails"){
//                $("#dg").datagrid('load',{
//                    "noticeDetails":$("#value1").val()
//                });
//            }
                alert('You input: ' + value + '(' + name + ')');

        }
    </script>

</head>
<body style="margin: 1px">
<table id="dg" title="通知公告管理" class="easyui-datagrid"
       fitColumns="true" pagination="true" rownumbers="true"
       url="/notice/noticeList" fit="true" toolbar="#tb">
    <thead>
    <tr>
        <th field="cb" checkbox="true" align="center"></th>
        <th field="noticeId"  align="center" formatter="formatId"></th>
        <th field="noticeTitle" width="20" align="center">标题</th>
        <th field="noticeDetails" width="20" align="center" formatter="formatDetail">内容</th>
        <th field="noticePerson" width="20" align="center">发布者</th>
        <th field="noticeTime" width="20" align="center">发布时间</th>
        <th field="noticeState" width="20" align="center">状态</th>

    </tr>
    </thead>
</table>
<div id="tb">
    <div>
        <a href="javascript:openNoticeAddDialog()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="javascript:openNoticeModifyDialog()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="javascript:deleteNotice()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        <SPAN style="float: right;">
            <!--<form action="/notice/search" method="post">-->
                <!--<input type="radio" name="factor" value="0" checked>标题-->
                <!--<input type="radio" name="factor" value="1">内容-->
                <!--<input type="text" id="s_title" size="20" name="keyWords"/>-->
            <!--<input type="submit" class="easyui-linkbutton" iconCls="icon-search" plain="true"/>-->
            <!--</form>-->
            <!--<div style="margin:10px 0;"></div>-->
            <input class="easyui-searchbox" name="keyWords" data-options="prompt:'请输入...',menu:'#mm',searcher:doSearch" style="width:300px"></input>
            <div id="mm">
                <div data-options="name:'b',iconCls:'icon-ok'">标题</div>
                <div data-options="name:'n'">内容</div>
            </div>
        </SPAN>
    </div>
</div>


<div id="dlg" class="easyui-dialog" style="width:550px;height:600px;padding: 10px 20px"
     closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <table cellspacing="8px">
            <tr>
                <td>
                    标题：
                    <input type="text" id="noticeTitle" name="noticeTitle" class="easyui-validatebox" required="true"/>
                </td>
            </tr>
            <tr>
                <td>
                    公告状态：
                    <input type="radio" name="noticeState" value="0" checked>公示
                    <input type="radio" name="noticeState" value="1">下架
                </td>
            </tr>

            <tr>
                <td>
                    公告内容：<br>
                    <div style="width:450px;height:5px">
                        <!-- 富文本 -->
                        <div id="editor" style="width: 100%">

                        </div>
                        <input type="hidden" value="" name="noticeDetails" id="noticeDetails">
                        <!-- end  -->
                    </div>

                </td>
            </tr>
            </br>
        </table>
    </form>
</div>

<div id="dlg-buttons">
    <a href="javascript:saveNotice()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
    <a href="javascript:closeLinkDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
</div>


<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'link',  // 插入链接
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor.create();
    editor.text.html("#editor")
</script>
</body>
</html>