<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>学生信息管理页面</title>

    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.3.3/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.3.3/themes/icon.css">
    <script type="text/javascript" src="/jquery-easyui-1.3.3/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.3.3/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/wangEditor/wangEditor.js"></script>

    <script type="text/javascript">

        var url;

        function deleteMajor(){
            var selectedRows=$("#dg").datagrid("getSelections");
            if(selectedRows.length==0){
                $.messager.alert("系统提示","请选择要删除的数据！");
                return;
            }
            var strIds=[];
            for(var i=0;i<selectedRows.length;i++){
                strIds.push(selectedRows[i].majorId);
            }
            var ids=strIds.join(",");
            $.messager.confirm("系统提示","您确定要删除这<font color=red>"+selectedRows.length+"</font>条数据吗？",function(r){
                if(r){
                    $.post("/major/delete",{ids:ids},function(result){
                        if(result.success){
                            $.messager.alert("系统提示","数据已成功删除！");
                            $("#dg").datagrid("reload");
                        }else{
                            $.messager.alert("系统提示","数据删除失败！");
                        }
                    },"json");
                }
            });
        }



        ///////////////////////////////////////////
        var showDiv = function(str) {
            var msgw = 350;
            var msgh = 90;
            var bordercolor;
            titleheight =  25; //提示窗口标题高度
            bordercolor = "#00CCCC"; //提示窗口的边框颜色
            titlecolor = "#00CCCC"; //提示窗口的标题颜色
            var sWidth, sHeight;
            //获取当前窗口尺寸
            sWidth = document.body.offsetWidth;
            sHeight = document.body.offsetHeight;
            //背景div
            var bgObj = document.createElement("div");
            bgObj.setAttribute('id', 'alertbgDiv');
            bgObj.style.position = "absolute";
            bgObj.style.top = "0";
            bgObj.style.background = "#E8E8E8";
            bgObj.style.filter = "progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75";
            bgObj.style.opacity = "0.6";
            bgObj.style.left = "0";
            bgObj.style.width = sWidth + "px";
            bgObj.style.height = sHeight + "px";
            bgObj.style.zIndex = "10000";
            document.body.appendChild(bgObj);
            //创建提示窗口的div
            var msgObj = document.createElement("div");
            msgObj.setAttribute("id", "alertmsgDiv");
            msgObj.setAttribute("align", "center");
            msgObj.style.background = "white";
            msgObj.style.border = "1px solid " + bordercolor;
            msgObj.style.position = "absolute";
            msgObj.style.left = "50%";
            msgObj.style.font = "12px/1.6em Verdana, Geneva, Arial, Helvetica, sans-serif";
            //窗口距离左侧和顶端的距离
            msgObj.style.marginLeft = "-280px";
            //窗口被卷去的高+（屏幕可用工作区高/2）-150
            msgObj.style.top = document.body.scrollTop+(window.screen.availHeight/2)- 180 + "px";
            msgObj.style.width = msgw + "px";
            msgObj.style.height = msgh + "px";
            msgObj.style.textAlign = "center";
            msgObj.style.lineHeight ="25px";
            msgObj.style.zIndex = "10001";
            document.body.appendChild(msgObj);
            //提示信息标题
            var title=document.createElement("h4");
            title.setAttribute("id", "alertmsgTitle");
            title.setAttribute("align", "left");
            title.style.margin = "0";
            title.style.padding = "3px";
            title.style.background = bordercolor;
            title.style.filter = "progid:DXImageTransform.Microsoft.Alpha(startX=20, startY=20, finishX=100, finishY=100,style=1,opacity=75,finishOpacity=100);";
            title.style.opacity = "0.75";
            title.style.border = "1px solid " + bordercolor;
            title.style.height = "18px";
            title.style.font = "12px Verdana, Geneva, Arial, Helvetica, sans-serif";
            title.style.color = "white";
            title.innerHTML = "提示信息";
            document.getElementById("alertmsgDiv").appendChild(title);
            //提示信息
            var txt = document.createElement("p");
            txt.setAttribute("id", "msgTxt");
            txt.style.margin="16px 0";
            txt.innerHTML = str;
            document.getElementById("alertmsgDiv").appendChild(txt);
        };
        //关闭提示框
        var closeDiv = function() {
            document.body.removeChild(document.getElementById("alertbgDiv"));
            document.getElementById("alertmsgDiv").removeChild(document.getElementById("alertmsgTitle"));
            document.body.removeChild(document.getElementById("alertmsgDiv"));
        };

        //执行批量导入功能
        //1
        function openLink(){

            //获取到专业信息
            $.ajax({
                url:"/major/getAll",
                type:"POST",
                success:function (result) {
                    console.log(result);
                    $.each(result.result,function () {
                        var majors = $("<option></option>").append(this.majorName).attr("value",this.majorId);
                        majors.appendTo("#majors");
                    });
                }
            });
            $("#upl").dialog("open").dialog("setTitle","上传文件");
        }
        //2
        function importSubmit(){

            $("#fi").form("submit", {
                url: "/student/importExcel",
                onSubmit: function() {
                    showDiv("批量导入时间较长，请耐心等待，勿作其它操作，谢谢！");
                },
                success: function(jsonResult) {
                    var date = eval('('+jsonResult+')');
                    if(date.status == "ok") {
                        closeDiv(); //关闭提示信息框
                        top.$.messager.alert('提示信息', date.message, 'info', function() {
                            $("#dg").datagrid("reload");
                            winClose();
                        });
                    } else if(date.status == "fail") {
                        top.$.messager.alert('提示信息', date.message, 'error');
                        closeDiv(); //关闭提示信息框
                        winClose(); //关闭对话框

                        return;
                    }
                },
                error: function() {
                    closeDiv(); //关闭提示信息框
                    winClose(); //关闭对话框
                    return;
                }
            });
        }
        //3执行批量导入功能z之后关闭窗口
        function winClose() {
            $("#upl").dialog("close");
            resetValue();
        }
        //打开添加页面
        function openMajorAddDialog(){
            $("#dlg").dialog("open").window("setTitle","添加专业信息");
            url="/major/save";
        }
        //打开修改页面
        function openMajorModifyDialog(){
            var selectedRows=$("#dg").datagrid("getSelections");
            if(selectedRows.length!=1){
                $.messager.alert("系统提示","请选择一条要编辑的数据！");
                return;
            }
            var row=selectedRows[0];
            $("#dlg").dialog("open").window("setTitle","编辑专业信息");
            $("#fm").form("load",row);
            /**
             * 回显富文本
             * */
            $(function () {
                document.getElementsByClassName('w-e-text')[0].innerHTML = row.majorDetails;
            })
            url="/major/save?majorId="+row.majorId;
        }

        //添加或修改完成的保存操作
        function saveMajor(){
            $("#fm").form("submit",{
                url:url,
                onSubmit:function(){
                    document.getElementById("majorDetails").value = document.getElementsByClassName('w-e-text')[0].innerHTML;
                    return $(this).form("validate");
                },
                success:function(result){
                    var result=eval('('+result+')');
                    if(result.success){
                        $.messager.alert("系统提示","保存成功！");
                        $("#dlg").dialog("close");
                        $("#dg").datagrid("reload");
                        resetValue();
                    }else{
                        $.messager.alert("系统提示","保存失败！");
                        resetValue();
                        return;
                    }
                }
            });
        }

        //将输入框内容置空
        function resetValue(){
            $("#majorName").val("");
            $("#majorCode").val("");
            $("#majorMoney").val("");
            $("#files$").val("");
            document.getElementsByClassName('w-e-text')[0].innerHTML.val("");
        }

        //关闭窗口
        function closeLinkDialog(){
            $("#dlg").dialog("close");
            resetValue();
        }

        //修改列的格式
        function formatDetail(value,row){
            return '<span title="' + value + '">' + value + '</span>';}
        function formatId(value,row){
            return '<input type="hidden" name="' + value + '">'}
    </script>
</head>
<body style="margin: 1px">
<table id="dg" title="学生信息管理" class="easyui-datagrid"
       fitColumns="true" pagination="true" rownumbers="true"
       url="/major/majorList" fit="true" toolbar="#tb">
    <thead>
    <tr>
        <th field="cb" checkbox="true" align="center"></th>
        <th field="majorId"  align="center" formatter="formatId"></th>
        <th field="majorName" width="20" align="center">专业名称</th>
        <th field="majorCode" width="20" align="center">专业代码</th>
        <th field="majorYear" width="20" align="center">专业学制</th>
        <th field="majorMoney" width="20" align="center">专业学费</th>
        <th field="departmentName" width="20" align="center">专业院系</th>
        <th field="updateTime" width="20" align="center">更新时间</th>
        <th field="personName" width="20" align="center">上传者</th>
        <th field="majorDetails" width="20" align="center" formatter="formatDetail">专业介绍</th>
    </tr>
    </thead>
</table>
<div id="tb">
    <div>
        <a href="javascript:openMajorAddDialog()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="javascript:openMajorModifyDialog()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="javascript:deleteMajor()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        <a href="/major/exportExcel" class="easyui-linkbutton" iconCls="icon-redo" plain="true">导出</a>
        <a href="javascript:openLink()" class="easyui-linkbutton" iconCls="icon-print" plain="true">导入</a>
    </div>
</div>
<div id="upl" class="easyui-dialog" style="width:300px;height:200px;padding: 10px 20px"
     closed="true" buttons="#upl-buttons">

    <form id="fi" enctype="multipart/form-data" method="post">
        <table cellspacing="8px">
            <div>
            专业：<select id="majors" name="majorId" style="width: 154px"></select>
            </div>
            <br>
            <div>
            <input type="file" name="files" id="files" value=""/>
            </div>
        </table>
    </form>
</div>

<div id="dlg" class="easyui-dialog" style="width:550px;height:600px;padding: 10px 20px"
     closed="true" buttons="#dlg-buttons">

    <form id="fm" method="post">

        <table cellspacing="8px">
            <tr>
                <td>
                    专业名称：
                    <input type="text" id="majorName" name="majorName" class="easyui-validatebox" required="true"/>
                </td>
            </tr>
            <tr>
                <td>专业代码：
                    <input type="text" id="majorCode" name="majorCode" class="easyui-validatebox" required="true"/>
                </td>
            </tr>
            <tr>
                <td>
                    专业学制：
                    <input type="radio" name="majorYear" value="4" checked>4
                    <input type="radio" name="majorYear" value="3">3
                </td>
            </tr>
            <tr>
                <td>
                    专业学费：<input type="text" id="majorMoney" name="majorMoney" class="easyui-validatebox" required="true"/>
                </td>
            </tr>
            <tr>
                <td>专业院系：
                    <select class="easyui-combobox" name="departmentName">
                        <option value="计算机学院">计算机学院</option>
                        <option value="商务管理学院">商务管理学院</option>
                        <option value="思沃创新管理学院">思沃创新管理学院</option>
                        <option value="信息管理与工程学院">信息管理与工程学院</option>
                        <option value="数字媒体与设计学院">数字媒体与设计学院</option>
                        <option value="外国语学院">外国语学院</option>
                        <option value="国际教育学院">国际教育学院</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    专业介绍：<br>
                    <!--<input class="easyui-textbox" data-options="multiline:true" name="majorDetails" style="width:350px;height:100px">-->

                    <div style="width:450px;height:5px">
                        <!-- 富文本 -->
                        <div id="editor" style="width: 100%">

                        </div>
                        <input type="hidden" value="" name="majorDetails" id="majorDetails">
                        <!-- end  -->
                    </div>

                </td>
            </tr>
            </br>
        </table>
    </form>
</div>

<div id="dlg-buttons">
    <a href="javascript:saveMajor()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
    <a href="javascript:closeLinkDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
</div>
<div id="upl-buttons">
    <a href="javascript:importSubmit()" class="easyui-linkbutton" iconCls="icon-ok">导入</a>
    <a href="javascript:winClose()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
</div>


<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'link',  // 插入链接
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor.create();
    editor.text.html("#editor")
</script>
</body>
</html>